---
---

@use "minima";

body {
  background-color: transparent !important;
  background-image: url('/assets/img/vvl1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}